body {
    margin: 0;
    background-color: #4F9153;
    text-align: center;
  }
  
  h3 {
    color:white;
    text-align: center;
  }
  #creature-collection {
    margin: 2rem;
  }
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }